body {
  text-align: center;
  margin: 0 auto;
}

header {
  max-width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 220px 0;
  flex-shrink: 0;
}

header h1 {
  color: white;
}

header h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

header p {
  color: white;
  margin-bottom: 30px;
}

header button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 20px;
  }
}

.card {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  object-fit: contain;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background-color: antiquewhite;
}
/* Banner - shared styles */
.banner {
  background: orange;
  padding: 1rem;
  margin: 1rem;
  min-height: 300px;
  color: white;
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 0.1pt;
  font-weight: 800;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 200ms ease-in;
  box-sizing: border-box;
}

.banner:hover {
  transform: scale(1.02);
}

/* Banner text - shared styles */
.headline {
  color: white;
  line-height: 50px;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  margin-top: 135px;
  position: absolute;
}

/* Banner One styles */
.banner-one {
  background: url(https://i.pinimg.com/564x/81/42/3c/81423ca4ca63c1e2cf04d43a449beb19.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Banner SHOP NOW btn styles */
.shop-btn {
  position: absolute;
  margin-top: 185px;
  font-size: 20px;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid #dfdfdf;
  color: white;
  font-weight: 800;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.shop-btn:hover {
  background: white;
  border: 2px solid transparent;
  color: #303030;
}

/* Banner Two styles */
.banner-two {
  background: url(https://cdn.aarp.net/content/dam/aarp/travel/destinations/2020/10/1140-cathedral-grove.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-two .headline {
  color: white;
  line-height: 50px;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  margin-top: 135px;
  position: absolute;
}

.banner-three {
  background: url(https://www.nps.gov/goga/learn/news/images/MUWO-VC-SGolub.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-three .headline {
  line-height: 40px;
  margin-top: 100px;
}

.banner-four {
  background: url(https://i.pinimg.com/564x/b4/e7/3a/b4e73a6df9822c33f3efbc7aa7bf4ec9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}

.banner-four .headline {
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  bottom: 80px;
}

.banner-four .subline {
  position: absolute;
  bottom: 10px;
  line-height: 35px;
}

.clear-fix {
  clear: both;
}

@media (min-width: 800px) {
  .banner-one,
  .banner-two {
    width: 47%;
    float: left;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .banner-two {
    margin-left: 2%;
  }
}

@media (min-width: 1000px) {
  .banner-one,
  .banner-two {
    width: 33%;
  }

  .banner-three {
    width: 68%;
  }

  .banner-four {
    width: 29%;
    top: 0px;
    right: 0px;
    height: 617px;
  }
}

@media (min-width: 1400px) {
  .banner-four {
    width: 30%;
  }
}
