body {
  text-align: center;
  margin: 0 auto;
}

header {
  max-width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 220px 0;
  flex-shrink: 0;
}

header h1 {
  color: white;
}

header h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

header p {
  color: white;
  margin-bottom: 30px;
}

header button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 20px;
  }
}

.card {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  object-fit: contain;
}

.about-paragraphs {
  margin: 30px 0;
  background-color: navajowhite;
  column-count: 2;
  column-gap: 20px;
  padding: 10px;
}
.about-paragraphs p {
  margin: 10px;
}
